.App-intro {
  font-size: large;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5in;
}

aside {
  margin: 0 0.5in 0.5in;
}

@media (min-width: 992px) {
  main {
    margin-bottom: 1in;
  }

  aside {
    margin: 0 1in 1in;
  }
}

.logos {
  align-items: center;
  display: flex;
  margin: 0 -0.5in;
  padding: 0 calc(0.5in - 15px);
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 992px) {
  .logos {
    margin: 0 -1in;
    padding: 0 calc(1in - 15px);
  }
}

.logos .logo {
  margin-bottom: 24px;
}

.logos .logo {
  margin-left: 15px;
  margin-right: 15px;
}

.logos div:last-child {
  padding-right: 0.5in;
}

@media (min-width: 992px) {
  .logos div:last-child {
    padding-right: 0;
  }
}

.bootstrap-expo {
  color: #563d7c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  white-space: nowrap;
}
