.App-intro {
  font-size: large;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

aside {
  margin: 0 0.5in 0.5in;
  text-align: center;
}

@media (min-width: 544px) {
  aside {
    margin: 0 1in 1in;
  }
}

.logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logos .logo {
  margin-bottom: 24px;
}

.logos .logo {
  margin-left: 12px;
  margin-right: 12px;
}

.bootstrap-expo {
  color: #563d7c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
}
