/* Additional CSS */
/*"Additional CSS" gets added to the middle of #global-styles-inline-css. As a
   result, the @import CSS at-rule will be ignored.
   e.g. @import url('https://www.andrewmcwatters.org/stylesheets/twentytwentyfive.css');

   See https://developer.mozilla.org/en-US/docs/Web/CSS/@import for more
   information. */

/* To use, add a "Custom HTML" block to the top of the "Header" template and
   paste the following code into it. */
/* <link rel='stylesheet' id='wp-theme-additional-css' href='https://www.andrewmcwatters.org/stylesheets/twentytwentyfive.css' media='all'/> */
:root {
  --bs-gutter-x: 1.5rem;
  --wp--style--global--content-size: calc(100% - var(--bs-gutter-x));
}

@media (min-width: 576px) {
  :root {
    --wp--style--global--content-size: calc(540px - var(--bs-gutter-x));
  }
}

@media (min-width: 768px) {
  :root {
    --wp--style--global--content-size: calc(720px - var(--bs-gutter-x));
  }
}

@media (min-width: 992px) {
  :root {
    --wp--style--global--content-size: calc(960px - var(--bs-gutter-x));
  }
}

@media (min-width: 1200px) {
  :root {
    --wp--style--global--content-size: calc(1140px - var(--bs-gutter-x));
  }
}

@media (min-width: 1400px) {
  :root {
    --wp--style--global--content-size: calc(1320px - var(--bs-gutter-x));
  }
}

html,
:root,
.wp-site-blocks {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  background-color: rgb(250, 250, 250);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  flex-direction: column;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
}

.wp-site-blocks,
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.custom-logo {
  padding-top: 6px;
  width: 68.74px;
  height: 16px !important;
}

.is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  width: var(--wp--style--global--content-size);
}
