/* Additional CSS */
:root {
  --wp--style--global--content-size: 1116px;
}

html, :root, .wp-site-blocks {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  line-height: 18px;
  background-color: rgb(250, 250, 250);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  flex-direction: column;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
}

.wp-site-blocks, main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.custom-logo {
  padding-top: 6px;
  width: 68.74px;
  height: 16px!important;
}

.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  width: var(--wp--style--global--content-size);
}
