body, #root {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

#root > div {
  display: flex;
  flex-direction: column;
}

main, #root > div {
  flex: 1;
}

header,
main,
footer {
  margin: 0.5in;
}

@media (min-width: 768px) {
  header,
  main,
  footer {
    margin: 1in;
  }
}

header {
  margin-bottom: 0;
}

main {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  margin-top: 0;
}
